<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gil_shiran_or.keepon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login_register.ResetPasswordActivity"></activity>
        <activity android:name=".login_register.TrainerDetailsRegister" />
        <activity android:name=".login_register.TraineeDetailsRegister" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".login_register.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".login_register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.MainChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity android:name=".trainee.nav.TraineeNavActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".trainee.my_trainers.MyTrainerActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>